pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
langchain-huggingface 
langchain-google-genai
langchain-pinecone
huggingface-hub
defusedxml 
pypdf
bs4
arxiv
pymupdf
wikipedia
sentence-transformers
faiss-cpu
pinecone